@model List<EMR.Core.ViewModels.DiagnosisViewModel>

@{
    ViewData["Title"] = "Requested Diagnosis Records";
}

<div class="pt-2 ml-4 pl-3 mb-4">
	<h1>Diagnosis Records</h1>
</div>

<div class="container-fluid" style="width: 95%">
	@foreach (var item in Model)
	{
		<div class="row mt-4">
			<div class="card" style="width: 95%">
				<div class="card-body">
					<div class="row">
						<div class="col-3">
							<div class="row mb-2">
								<img id="profilePicture" style="width:250px;height:300px; object-fit:cover; margin:auto" src="@item.PatientImage">
							</div>
							<div class="row justify-content-center">
								<p class="text-center h4 text-dark">@item.PatientName</p>
								<i class="text-center h6 text-dark">@item.PatientEmail</i>
							</div>
						</div>
						<div class="col-9">
							@foreach (var result in item.LaboratoryDiagnosis)
							{
								<div class="row">
									<div class="col">
										<h3 class="row ml-3">
											Diagnostic Test
										</h3>
										<div class="row mb-4 ml-3">
											@result.TestName
										</div>
									</div>
									<div class="col">
										<h3 class="row ml-3">
											Test Result
										</h3>
										<div class="row mb-4 ml-3">
											@result.Value @result.Unit
										</div>
									</div>
									<div class="col">
										<h3 class="row ml-3">
											Technician Remarks
										</h3>
										<div class="row mb-4 ml-3">
											@Html.Raw(@result.TechnicianRemarks)
										</div>
									</div>
								</div>	
								<hr />
							}
							<div class="row justify-content-end mr-5">
								<div class="row mb-4 mr-2 w-25">
									<a class="btn btn-dark form-control" asp-action="Exporting" target="_blank" asp-route-patientId="@item.PatientId">
										Print to PDF
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>

