@model List<Silverline.Core.ViewModels.ApprovalViewModel>;

@{
    ViewData["Title"] = "Doctor";
}


<div class="pt-2 ml-4 pl-3">
    <h1>Approval for Doctor Registrations</h1>
</div>

<partial name="_Notification" />

<div class="container-fluid" style="width: 95%">
    @foreach (var item in Model)
    {
        <form method="post">
            <input asp-for="@item.UserId" class="form-control" type="hidden" />
            <input asp-for="@item.StaffId" class="form-control" type="hidden" />
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img id="profilePicture" style="width:285px;height:200px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(@item.ProfileImage))">
                        </div>
                        <div class="col">
                            <div class="row">
                                Name: @item.FullName
                            </div>
                            <div class="row">
                                Email: @item.EmailAddress
                            </div>
                            <div class="row">
                                Specialty: @item.Department
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                Medical Degree: @item.HighestMedicalDegree
                            </div>
                            <div class="row">
                                Certification: @item.CertificationNumber
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <a class="btn btn-outline-primary mb-2 w-50" href="@item.ResumeURL" target="_blank">Resume</a>
                            </div>
                            <div class="row">
                                <a class="btn btn-outline-primary mb-2 w-50" href="@item.CertificationURL" target="_blank">Certification</a>
                            </div>
                            <div class="row">
                                <button class="btn btn-dark mb-2 w-50" asp-route-id="@item.UserId" asp-route-staffId="@item.StaffId">Approve</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
</div>

