@model List<DoctorPatientViewModel>

@{
	ViewData["Title"] = "My Patients";
}

<partial name="_Notification" />

<div class="pt-2 ml-4 pl-3">
    <h1>Patients Index</h1>
</div>

<div class="container-fluid" style="width: 95%">
    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-dark">List of Diagnosed Patients</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-dark" asp-action="Add"><i class="fa-solid fa-plus"></i> &nbsp; Add a New Patient</a>
        </div>
    </div>

    <div class="p-2 border rounded">
        <table id="tableData" class="table table-striped table-bordered" style="width:100%">
            <thead class="mt-2">
                <tr class="table-info">
                    <th class="text-center">Patient's Name</th>
                    <th class="text-center">Address</th>
                    <th class="text-center">State</th>
                    <th class="text-center">Phone Number</th>
                    <th class="text-center">Date of Birth</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.PatientName</td>
                        <td>@item.Address</td>
                        <td>@item.Street</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.DateOfBirth</td>
                        <td>
                            <a href="@Url.Action("MedicalRecords", "Appointment", new { patientId = item.PatientId })" class="btn btn-dark btn-sm text-center"><i class="fa-solid fa-eye"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $("#tableData").DataTable();
    </script>
}
