@using EMR.Core.Constants;
@model List<EMR.Core.ViewModels.AppointmentsViewModel>

@{
	ViewData["Title"] = "Today's Appointments";
}

<div class="pt-2 ml-4 pl-3 mb-4">
	<h1>Available Appointments</h1>
</div>

<partial name="_Notification" />

<div class="container-fluid" style="width: 95%">
	<div class="row">
		<div class="col-md-12">
			@foreach (var @item in Model)
			{
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-3">
								<img id="profilePicture" style="width:285px;height:300px; object-fit:cover" src="@item.PatientImage">
							</div>
							<div class="col-4 ml-4">
								<h3 class="row ml-3">
									Patient Name
								</h3>
								<div class="row mb-4 ml-3">
									@item.PatientName
								</div>
								<h3 class="row ml-3">
									Patient Age
								</h3>
								<div class="row mb-4 ml-3">
									@item.PatientAge
								</div>
								<div class="row mt-4 mb-2 ml-1">
									<div class="col mt-3">
										<a asp-action="MedicalRecords" class="btn btn-dark mb-2 w-75" asp-route-patientId="@item.PatientId">Medical Records</a>
									</div>
								</div>
							</div>
							<div class="col-4">
								<h3 class="row mr-2 ml-3">
									Request
								</h3>
								<div class="row mr-2 mb-2 ml-3">
									@Html.Raw(@item.PatientRequest)
								</div>
								<h3 class="row mr-2 ml-3">
									Payment Status
								</h3>
								<div class="row mr-2 mb-2">
									@if(item.PaymentStatus == Constants.Completed)
									{
										<div class="col-auto">
											<a class="btn btn-outline-success ml-3" href="#"><i class="fas fa-coins"></i> &nbsp; Paid</a>
										</div>
									}
									else
									{
										<div class="col">
											<a class="btn btn-outline-secondary ml-3" href="#"><i class="fas fa-times-square"></i>&nbsp; Unpaid</a>
										</div>
									}
								</div>
								<div class="row mt-4 mb-2 ml-1">
									<div class="col-10">
										<a asp-action="Start" class="btn btn-dark form-control" asp-route-id="@item.AppointmentId">
											Start Appointment
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>