@using Silverline.Core.Constants;
@using Silverline.Core.ViewModels;
@model List<DiagnosticTestCartViewModel>

@{
	ViewData["Title"] = "Booked Laboratory Diagnosis";
}

<div class="pt-2 ml-4 pl-3 mb-4">
	<h1>Booked Laboratory Diagnosis</h1>
</div>

<partial name="_Notification"/>

<div class="container-fluid" style="width: 95%">
	<div class="row">
		<div class="col-md-12">
			@foreach (var item in Model)
			{
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<div class="row">
									<div class="col-4">
										<h3 class="row ml-3">
											Test Name
										</h3>
										<div class="row mb-4 ml-3">
											@item.TestName
										</div>
									</div>
									<div class="col-4">
										<h3 class="row ml-3">
											Test Type
										</h3>
										<div class="row mb-4 ml-3">
											@item.TestType
										</div>
									</div>
									<div class="col-4">
										<h3 class="row ml-3">
											Range
										</h3>
										<div class="row mb-4 ml-3">
											@item.Range
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<h3 class="row ml-3">
											Booked Test 
										</h3>
										<div class="row mb-4 ml-3">
											@item.BookedDate
										</div>
									</div>
									<div class="col-4">
										<h3 class="row ml-3">
											Payment Status
										</h3>
										<div class="row mb-4 ml-2">
											@if (item.PaymentStatus == Constants.Completed)
											{
												<div class="col-auto">
													<a class="btn btn-outline-success" href="#"><i class="fas fa-coins"></i> &nbsp; Paid</a>
												</div>
											}
											else
											{
												<div class="col">
													<a class="btn btn-outline-secondary" href="#"><i class="fas fa-times-square"></i>&nbsp; Unpaid</a>
												</div>
											}
										</div>
									</div>
									<div class="col-4">
										<div class="col-auto">
											<a class="btn btn-dark ml-1" asp-controller="Diagnosis" asp-action="Cancel" asp-route-id="@item.Id"><i class="fas fa-times-circle"></i> &nbsp; Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>			
	</div>			
</div>