@model List<Silverline.Core.ViewModels.AppointmentsViewModel>

<div class="pt-2 ml-4 pl-3 mb-4">
	<h1>Available Appointment</h1>
</div>

<div class="container-fluid" style="width: 95%">
	<div class="row">
		<div class="col-md-12">
			@foreach (var @item in Model)
			{
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-3">
								<img id="profilePicture" style="width:285px;height:300px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(@item.PatientImage))">
							</div>
							<div class="col-4 ml-4">
								<h3 class="row ml-3">
									Patient Name
								</h3>
								<div class="row mb-4 ml-3">
									@item.PatientName
								</div>
								<h3 class="row ml-3">
									Patient Age
								</h3>
								<div class="row mb-4 ml-3">
									@item.PatientAge
								</div>
								<div class="row mb-2 ml-1">
									<div class="col">
										<button class="btn btn-dark mb-2 w-75" asp-route-id="@item.PatientId">Medical Records</button>
									</div>
								</div>
							</div>
							<div class="col-4">
								<h3 class="row mr-2 ml-3">
									Request
								</h3>
								<div class="row mr-2 mb-5 ml-3">
									@Html.Raw(@item.PatientRequest)
								</div>
								<div class="row mr-2 mb-5 ml-2">
								</div>
								<div class="row mt-5 mb-2 ml-1">
									<div class="col-10">
										<a asp-action="Start" class="btn btn-dark form-control" asp-route-id="@item.AppointmentId">
											Start Appointment
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>