@model EMR.Core.ViewModels.MedicineViewModel

@{
    ViewData["Title"] = "Medicine";
    var title = "Create a new Medicine";
}

@if (@Model.Medicine.Id != Guid.Empty)
{
    title = "Edit an existing Medicine";
}

<div class="pt-2 ml-4 pl-4">
    <h1>Medicines Index</h1>
    <h2 class="text-dark">@title</h2>
</div>

<div class="container-fluid" style="width: 95%">
    <form method="post" enctype="multipart/form-data">
        <div class="container-fluid" style="width: 95%">
            <div class="row mb-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="pt-4">
                    <div class="form-group row">
                        <input asp-for="Medicine.Id" class="form-control" type="hidden" />
                        <div class="row">
                            <div class="col-4">
                                <div class="mb-4 row">
                                    <label asp-for="Medicine.Name" class="mb-2"></label>
                                    <input asp-for="Medicine.Name" class="form-control ms-2" />
                                    <span asp-validation-for="Medicine.Name" class="text-danger"></span>
                                </div>
                                <div class="mb-4 row">
                                    <label asp-for="Medicine.Description" class="mb-2"></label>
                                    <input asp-for="Medicine.Description" rows="3" class="form-control ms-2" />
                                    <span asp-validation-for="Medicine.Description" class="text-danger"></span>
                                </div>
                                <div class="mb-4 row">
                                    <label asp-for="Medicine.CategoryId" class="mb-2"></label>
                                    <select asp-for="Medicine.CategoryId" asp-items="@Model.Categories" class="form-control">
                                        <option disabled selected>Select a Category</option>
                                    </select>
                                    <span asp-validation-for="Medicine.CategoryId" class="text-danger"></span>
                                </div> 
                                <div class="mb-4 row">
                                    @if (Model.Medicine.Id != Guid.Empty)
                                    {
                                        <div class="col-6">
                                                <button type="submit" onclick="return ValidateInput()" class="btn btn-dark form-control">Update</button>
                                        </div>
                                        <div class="col-6">
                                            <a asp-action="Index" class="btn btn-dark form-control">Back to List</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-6">
                                            <button type="submit" onclick="return ValidateInput()" class="btn btn-dark form-control">Create</button>
                                        </div>
                                        <div class="col-6">
                                            <a asp-action="Index" class="btn btn-dark form-control">Back to List</a>
                                        </div>
                                    }
                                </div> 
                                
                            </div>
                            <div class="col-5">
                                <div class="mb-4 col-12">
                                    <label asp-for="Medicine.UnitPrice" class="mb-2"></label>
                                    <input asp-for="Medicine.UnitPrice" class="form-control " />
                                    <span asp-validation-for="Medicine.UnitPrice" class="text-danger"></span>
                                </div>
                                <div class="mb-4 col-12">
                                    <label asp-for="Medicine.Type" class="mb-2"></label>
                                    <select asp-for="Medicine.Type" class="form-control">
                                        <option disabled selected>Medicine Type</option>
                                        <option value="Injectibles">Injectibles</option>
                                        <option value="Antibiotics">Antibiotics</option>
                                        <option value="Consumables">Consumables</option>
                                        <option value="Stimulants">Stimulants</option>
                                    </select>
                                    <span asp-validation-for="Medicine.Type" class="text-danger"></span>
                                </div>
                                <div class="mb-4 col-12">
                                    <label asp-for="Medicine.ManufacturerId" class="mb-2"></label>
                                    <select asp-for="Medicine.ManufacturerId" asp-items="@Model.Manufacturerers" class="form-control">
                                        <option disabled selected>Select a Category</option>
                                    </select>
                                    <span asp-validation-for="Medicine.ManufacturerId" class="text-danger"></span>
                                </div> 
                            </div>

                            <div class="col-3">
                                <div class="mb-4 row">
                                    <div class="row border border-primary mt-4 ml-4" style="min-height: 230px; width: 225px; margin: auto">
                                        <img id="previewImage" src="@Model.Medicine.ImageURL" style="width: 220px; height: 230px;" />
                                    </div>
                                </div>
                                <div class="mb-4 row ml-3">
                                    <label asp-for="Medicine.ImageURL" class="mb-2"></label>
                                    <input type="file" id="uploadImage" onchange="readURL(this);" 
                                           name="image" class="ms-2" accept="image/png, image/gif, image/jpeg" />
                                    <span asp-validation-for="Medicine.ImageURL" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <input asp-for="Medicine.CreatedAt" class="form-control mt-2" type="hidden" />
                        <input asp-for="Medicine.LastModifiedAt" class="form-control mt-2" type="hidden" />
                    </div>
                    <div class="form-group row">
                       
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts{

    <partial name="_ValidationScriptsPartial" />

    <script>
        function ValidateInput() {
            if ($("#uploadImage").val() == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Picture not uploaded',
                    text: 'Please input an image of the medicine before continuing'
                })
                return false;
            }
            return true;
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#previewImage')
                        .attr('src', e.target.result)
                        .width(225)
                        .height(225);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
